{% extends "dashboard/userspace.html.twig" %}

{% block page %}
    <div class="bg-white border border-2 rounded-lg shadow relative mx-auto mt-2 w-full sm:w-4/6">
	<div class="flex items-start justify-between p-5 border-b rounded-t">
        	<h3 class="text-xl font-semibold">
            		Créer une nouvelle demande
	        </h3>
	</div>
	<div class="p-1 sm:p-6 space-y-6">
	
	{{ form_start(computerUserForm) }}
		<div class="grid grid-cols-4">
	        <div class="p-1 col-span-4 md:col-span-2 ">
			{{ form_row(
				computerUserForm.Name,
				{
					'label': 'Nom',
					'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
					,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
				})
			}}
			</div>
	        <div class="p-1 col-span-4 md:col-span-2">
			{{ form_row(
				computerUserForm.Surname,
				{
					'label': 'Prénom',
					'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
					,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
				})
			}}
			</div>
			<div class="p-1 col-span-4 md:col-span-1">
				{{ form_row(
					computerUserForm.phoneNumber,
					{
						'label': 'Numéro de téléphone',
						'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
						,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
					})
				}}
			</div>
			<div class="p-1 col-span-0 md:col-span-3">
			</div>
	        <div class="p-1 col-span-4 md:col-span-1">
			{{ form_row(
				computerUserForm.postalCode,
				{
					'label': 'Code postal',
					'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
					,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
				})
			}}
			</div>
			<div class="p-1 col-span-4 md:col-span-3">
			{{ form_row(
				computerUserForm.City,
				{
					'label': 'Ville',
					'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
					,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
				})
			}}
			</div>
	        <div class="p-1 col-span-4">
			{{ form_row(
				computerUserForm.address,
				{
					'label': 'Adresse',
					'label_attr' : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
					,'attr' : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }
				})
			}}
			</div>
			<div class="p-1 col-span-4">
			{{ form_row(computerUserForm.computerType, {
				label: 'Type de PC',
				label_attr : { 'class': 'text-sm font-medium text-gray-900 block mb-2' }
				,attr : { 'class' : 'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-fuchsia-600 focus:border-fuchsia-600 block w-full p-2.5'  }

			}) }}
			</div>
		</div>
		<div class="p-6 border-t border-gray-200 rounded-b">
		        <button class="text-white bg-fuchsia-600 hover:bg-fuchsia-700 focus:ring-4 focus:ring-fuchsia-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Demander</button>
		</div>
	{{ form_end(computerUserForm) }}

	</div>
    </div>
{% endblock %}
