{% extends "dashboard/userspace.html.twig" %}

{% block page %}
    <div class="bg-white border border-2 rounded-lg shadow relative mx-auto mt-2 w-full sm:w-4/6">
        <h1 class="bg-green-400 border border-2 text-center p-2">Bravo, la demande n° {{ requestId }} a été prise en compte !</h1>

        <div class="p-6 border-t border-gray-200 rounded-b text-center">
        <a class="text-white bg-fuchsia-600 hover:bg-fuchsia-700 focus:ring-4 focus:ring-fuchsia-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" href="{{ path('app_user_start_new_request') }}">Créer une nouvelle demande.</a>
        </div>
    </div>
{% endblock %}