{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('APP_NAME') }} - Bienvenue{% endblock %}

{% block body %}
        <div class="flex h-screen bg-fuchsia-700">
            <div class="w-full max-w-xs m-auto bg-fuchsia-100 rounded p-5">
                <header>
                    <img class="w-20 mx-auto pt-0 mb-5" src="{{ asset("favicon.png") }}" />
                    <p class="w-auto mx-auto text-center">Association pour l'informatique participative</p>
                    <p class="mt-1 text-center py-1">{{ app.request.server.get('APP_NAME') }}</p>
                </header>
            {% if error %}
                <div class="mx-auto mt-5 mb-5 bg-red-100">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes identifié en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnecter</a>
            </div>
        {% else %}
            <form method="post">
                <label class="block mb-2 text-fuchsia-500" for="username">Identifiant</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" class="w-full p-2 mb-6 text-fuchsia-700 border-b-2 border-fuchsia-500 outline-none focus:bg-gray-300" autocomplete="username" required autofocus>
                <br/>
                <label class="block mb-2 text-fuchsia-500" for="password">Mot de passe</label>
                <input class="w-full p-2 mb-6 text-fuchsia-700 border-b-2 border-fuchsia-500 outline-none focus:bg-gray-300" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <br/>
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="w-full bg-fuchsia-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
                    Valider
                </button>
                <br/>
                <footer>
                    <a class="text-fuchsia-700 hover:text-pink-700 text-sm float-right" href="{{ path("app_register") }}">Créer un compte</a>
                </footer>
            </form>
        {% endif %}
            </div>
        </div>
{% endblock %}
