{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="flex h-screen bg-fuchsia-700">
        <div class="w-full max-w-xs m-auto bg-fuchsia-100 rounded p-5">
            <header>
                <img class="w-20 mx-auto pt-0 mb-5" src="{{ asset("favicon.png") }}" />
                <p class="w-auto mx-auto text-center">Association pour l'informatique participative</p>
                <p class="mt-1 text-center py-1">{{ app.request.server.get('APP_NAME') }}</p>
            </header>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="mx-auto mt-5 mb-5 bg-red-100" role="alert">{{ flash_error }}</div>
            {% endfor %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Identifiant',
            label_attr : { "class" : "block mb-2 text-fuchsia-500"},
            attr : { "class" : "w-full p-2 mb-6 text-fuchsia-700 border-b-2 border-fuchsia-500 outline-none focus:bg-gray-300"}
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Courriel',
            label_attr : { "class" : "block mb-2 text-fuchsia-500"},
            attr : { "class" : "w-full p-2 mb-6 text-fuchsia-700 border-b-2 border-fuchsia-500 outline-none focus:bg-gray-300"}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            label_attr : { "class" : "block mb-2 text-fuchsia-500"},
            attr : { "class" : "w-full p-2 mb-6 text-fuchsia-700 border-b-2 border-fuchsia-500 outline-none focus:bg-gray-300"}
        }) }}

        <button type="submit" class="w-full bg-fuchsia-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded">Créer</button>
    {{ form_end(registrationForm) }}

            <footer>
                <a class="text-fuchsia-700 hover:text-pink-700 text-sm float-right" href="{{ path("app_login") }}">Se connecter</a>
            </footer>
        </div>
    </div>
{% endblock %}
