{% extends 'dashboard/userspace.html.twig' %}

{% block title %}
Adminstration - Modifier un utilisateur
{% endblock %}

{% block page %}
<h1>Modifier un utilisateur</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Mettre à jour</button>
    {{ form_end(form) }}


    <a href="{{ path("app_admin_add_organization") }}" >Ajouter une organisation</a>

{% endblock %}

