{% extends 'dashboard/userspace.html.twig' %}

{% block title %}
Administration - Organisations et utilisateurs
{% endblock %}

{% block page %}
    <table>
        <thead><tr><th>Nom</th><th>Organisation</th><th>éditer</th></tr></thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.organization.name | default('Aucune') }}</td>
            <td><a href="{{ path('app_admin_edit_user', {'id': user.id}) }}">Editer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

