/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=63T1i0krrZpfEZplRZv-VYoVcQD */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #3F5DFB }	/* Main Primary color */
.color-primary-1 { color: #90A1FB }
.color-primary-2 { color: #657DFB }
.color-primary-3 { color: #1B3EF8 }
.color-primary-4 { color: #0529E5 }

.color-secondary-1-0 { color: #FC249E }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FC81C7 }
.color-secondary-1-2 { color: #FD50B2 }
.color-secondary-1-3 { color: #FB008E }
.color-secondary-1-4 { color: #EF0087 }

.color-secondary-2-0 { color: #83FE24 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #B7FE82 }
.color-secondary-2-2 { color: #9CFE51 }
.color-secondary-2-3 { color: #6EFD00 }
.color-secondary-2-4 { color: #6BF600 }

.color-complement-0 { color: #FFC024 }	/* Main Complement color */
.color-complement-1 { color: #FFDB82 }
.color-complement-2 { color: #FFCD51 }
.color-complement-3 { color: #FFB600 }
.color-complement-4 { color: #FFB600 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 63, 93,251,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(144,161,251,1) }
.rgba-primary-2 { color: rgba(101,125,251,1) }
.rgba-primary-3 { color: rgba( 27, 62,248,1) }
.rgba-primary-4 { color: rgba(  5, 41,229,1) }

.rgba-secondary-1-0 { color: rgba(252, 36,158,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(252,129,199,1) }
.rgba-secondary-1-2 { color: rgba(253, 80,178,1) }
.rgba-secondary-1-3 { color: rgba(251,  0,142,1) }
.rgba-secondary-1-4 { color: rgba(239,  0,135,1) }

.rgba-secondary-2-0 { color: rgba(131,254, 36,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(183,254,130,1) }
.rgba-secondary-2-2 { color: rgba(156,254, 81,1) }
.rgba-secondary-2-3 { color: rgba(110,253,  0,1) }
.rgba-secondary-2-4 { color: rgba(107,246,  0,1) }

.rgba-complement-0 { color: rgba(255,192, 36,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,219,130,1) }
.rgba-complement-2 { color: rgba(255,205, 81,1) }
.rgba-complement-3 { color: rgba(255,182,  0,1) }
.rgba-complement-4 { color: rgba(255,182,  0,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
/*
body {
    background-color: #000000;
    color: #FFFFFF;
}
*/
#logo {
    width: 100px;
    position: absolute;
    top: 40px;
    right: 80px;
}

body {
    background: linear-gradient(45deg, #fc4668, #3f5efb);
    font-family: arial, sans-serif;
}

.container {
    position: relative;
}

#auth-form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3rem;
    height: 350px;
    border-radius: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 15px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
}

.auth-form > input {
    margin-left: 15px;
    width: auto;
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 2em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px 60px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-shadow: 2px 2px 40px 40px rgba(0, 0, 0, 0.2);
    color: white;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) s;
    margin-bottom: 20px;
}

p {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

a {
    color: blue;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s;
}
a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

::placeholder {
    color: white;
}

input:hover,
input[type="Identifiant"]:focus,
input[type="Mot de passe"]:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.3);
}

input[type="button"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}