/** colors **/
/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50K0u0kyiGhkeL0q1HPFQtzHbmZ */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 { color: #FF9500 }	/* Main Primary color */
.color-primary-1 { color: #FFBC5E }
.color-primary-2 { color: #FFA930 }
.color-primary-3 { color: #EC8A00 }
.color-primary-4 { color: #B76B00 }

.color-secondary-1-0 { color: #FFC200 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFD85E }
.color-secondary-1-2 { color: #FFCD30 }
.color-secondary-1-3 { color: #ECB300 }
.color-secondary-1-4 { color: #B78B00 }

.color-secondary-2-0 { color: #FF4F00 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FF905E }
.color-secondary-2-2 { color: #FF7030 }
.color-secondary-2-3 { color: #EC4900 }
.color-secondary-2-4 { color: #B73900 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(255,149,  0,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,188, 94,1) }
.rgba-primary-2 { color: rgba(255,169, 48,1) }
.rgba-primary-3 { color: rgba(236,138,  0,1) }
.rgba-primary-4 { color: rgba(183,107,  0,1) }

.rgba-secondary-1-0 { color: rgba(255,194,  0,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,216, 94,1) }
.rgba-secondary-1-2 { color: rgba(255,205, 48,1) }
.rgba-secondary-1-3 { color: rgba(236,179,  0,1) }
.rgba-secondary-1-4 { color: rgba(183,139,  0,1) }

.rgba-secondary-2-0 { color: rgba(255, 79,  0,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,144, 94,1) }
.rgba-secondary-2-2 { color: rgba(255,112, 48,1) }
.rgba-secondary-2-3 { color: rgba(236, 73,  0,1) }
.rgba-secondary-2-4 { color: rgba(183, 57,  0,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */

body {
    background-color: #000000;
    color: #FFFFFF;
}
