{% extends "dashboard/userspace.html.twig" %}

{% block page %}
    <div class="max-w-xl mx-auto bg-white mt-4 py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <p class="mt-4">Identifiant : {{ app.user.username }}</p>
        {% if app.user.organization %}
            <p class="mt-4">Vous faites partie de l'organisation {{ app.user.organization.name }}</p>
        {% endif %}

        {{ form_errors(userForm) }}

        {{ form_start(userForm) }}

        {{ form_row(userForm.email, {
            label: 'Courriel',
            required : false,
            attr : { "class" : "shadow-sm block w-full py-2 sm:text-sm rounded-md text-gray-800 disabled:bg-gray-200 sm:text-sm border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-gray-400 focus:outline-none  " },
            row_attr : { "class" : "mt-4" }
        }) }}
        {% if app.user.isVerified %}
            <p class="mt-4">Votre courriel est vérifié</p>
        {% else %}
            <p class="mt-4">Veuillez vérifier votre email : Fonctionnalité à venir {# TODO ticket #6 #} </p>
        {% endif %}

        {{ form_row(userForm.password, {
            label: 'Mot de passe',
            type: 'password',
            value: '',
            required : false,
            row_attr : { "class" : "mt-4" }
        }) }}

        <button type="submit" class="inline-flex items-center justify-center px-4 py-2.5 border border-transparent text-sm font-medium rounded-md shadow-sm focus:outline-none ring-2 ring-offset-2 ring-transparent ring-offset-transparent disabled:bg-gray-400 appearance-none text-white bg-fuchsia-600 hover:bg-fuchsia-700 focus:ring-fuchsia-500 focus:ring-offset-white w-full">Mettre à jour</button>

        {{ form_end(userForm) }}

    </div>

{% endblock %}