{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

    {% block body %}
        <div id="userspace" class="flex h-screen bg-fuchsia-100 flex-wrap">
            <div id="shutter" class="md:flex md:flex-col bg-fuchsia-800 w-full md:w-64" >
                 <div class="flex items-center justify-center h-16 bg-fuchsia-900">
                     <a href="{{ path('app_user_dashboard') }}">
                         <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                             <path d="M12 6.453l9 8.375v9.172h-6v-6h-6v6h-6v-9.172l9-8.375zm12 5.695l-12-11.148-12 11.133 1.361 1.465 10.639-9.868 10.639 9.883 1.361-1.465z" />
                         </svg>
                     </a>
                 </div>
                <div class="flex flex-col flex-1 overflow-y-auto">
                    <menu class="flex-1 px-2 py-4 bg-fuchsia-800">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('app_account') }}" class="flex items-center px-4 py-2 text-fuchsia-100 hover:bg-fuchsia-700" >
                                    <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z" />
                                    </svg>
                                    Mon compte
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_APP_REQUESTER') %}
                            <li class="bg-fuchsia-800"><a href="{{ path('app_user_create_request') }}" class="flex items-center px-4 py-2 text-fuchsia-100 hover:bg-fuchsia-700">Nouvelle demande</a></li>
                            <li class="bg-fuchsia-800"><a href="{{ path('app_user_requests') }}" class="flex items-center px-4 py-2 text-fuchsia-100 hover:bg-fuchsia-700">Mes demandes</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_APP_PROVIDER') %}
                            <li class="bg-purple-800"><a href="{{ path('app_provider_requests') }}" class="flex items-center px-4 py-2 text-purple-100 hover:bg-purple-700">Demandes à traiter</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_APP_ADMIN') %}
                            <li class="bg-red-800"><a href="{{ path('app_admin_show_users') }}" class="flex items-center px-4 py-2 text-red-100 hover:bg-red-700">Administration - Organisations et Utilisateurs</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}" class="flex items-center px-4 py-2 text-fuchsia-100 hover:bg-fuchsia-700">Se déconnecter</a></li>
                    </menu>
                </div>
            </div>
            <div id="page" class="md:flex md:flex-col md:flex-1 overflow-y-auto min-w-[375px]">
                {% block page %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
